.loadingPageContainer {
  background-color: #eccff2;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.loadingHeader {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.dotProp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blue;
  display: inline-block;
  margin: 4rem;
  animation: scaling 2.5s ease-in-out infinite;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
    background-color: #30ffb7;
  }
  40% {
    transform: scale(1);
    background-color: #07deff;
  }
  50% {
    transform: scale(1);
    background-color: #0761ff;
  }
}

.dot1 {
  animation-delay: 0.2s;
}
.dot2 {
  animation-delay: 0.4s;
}
.dot3 {
  animation-delay: 0.6s;
}
.dot4 {
  animation-delay: 0.8s;
}
.dot5 {
  animation-delay: 1s;
}

.loadingBody {
  width: auto;
  /* height: 50%; */
  display: flex;
}

.pokeballProp {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
