.pokemonListContainer {
  /* background: #fdf4ff;
  height: 100vh; */
}
.pokemonData {
  background: #fdf4ff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding-top: 20px;
  padding-bottom: 34px;
  gap: 16px;
  overflow-x: hidden;

  justify-content: center;
}
