.pokeInfoContainer {
  height: 100vh;
}

.pokeInfoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 72px;

  position: relative;
  height: auto;
  width: auto;
}

.pokemonNameHeader {
  width: 85%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  margin: auto;
  /* background-color: red; */
}
.navButtonHome {
  position: absolute;
  width: 40px;
  height: 40px;
  flex: none;

  flex-direction: row;
  border: none;
  border-radius: 100px;
  background-color: #574f62;
  mix-blend-mode: normal;
}

.pokeInfoBody {
  /* height: 100%; */
}

.pokemonCard {
  display: flex;
  flex-direction: column;

  position: flex;
  width: 55%;
  height: auto;

  /* top: 144px; */
  /* left: 25%; */
  margin: 0px 22.5% 0px;

  background: #ffffff;
  border-radius: 16px;
}

.pokemonCardHeader {
  display: flex;
  /* flex-direction: row; */
}

.pokemonCardName {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  position: relative;
  margin-left: 40px;
  margin-top: 40px;
}
.pokemonCardId {
  color: #181222;
  mix-blend-mode: normal;
  opacity: 0.32;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  margin-top: 40px;
  margin-left: 16px;
}
.blankSpace {
  margin-left: auto;
}

.pokemonCardTypes {
  margin-top: 40px;
  margin-right: 40px;
  align-self: center;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  gap: 10px;
  box-sizing: border-box;

  font-family: "Roboto";
  font-style: normal;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.line {
  height: 2px;
  width: 752;
  opacity: 0.2;
  background-color: #555;
  position: relative;

  /* margin-top: 32px;
  margin-bottom: 16px; */

  margin: 32px 24px 16px;
}

.pokePicStat {
  height: 264px;
  display: flex;
  margin: 0px 24px;
}

/* Right section of pokepicstat */
.statsChild {
  /* background-color: red; */
  flex: 1;
  display: flex;
}

/* Left section of pokepic stat */
.statsChild:first-child {
  /* background-color: blue; */
}

.statTextContainer {
  /* background-color: yellow; */
}

.statsChildImg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.statBarContainer {
  /* background-color: green; */
  width: 100%;
  position: relative;
}

.pokemonDetails {
  /* background-color: pink; */
  margin: 16px 24px 38px;
  height: auto;
}

.genusDescContainer {
  width: 100%;

  height: auto;
  margin-bottom: 24px;
  position: relative;
}

.pokemonGenus {
  width: auto;
  /* background-color: red; */
  margin: 0px 16px 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #181222;
}

.pokemonDesc {
  width: auto;
  /* background-color: blue; */
  margin: 0px 16px 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.5px;
}

.pokemonProfile {
  width: auto;
  height: 40px;
  position: relative;
  margin-bottom: 25px;
}

.pokemonProfile p {
  margin: 0px 16px 0px;
  display: flex;
  top: 50%;
  transform: translate(0, 50%);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.pokemonAltStatsContainer {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
}
.pokemonAltStatsContainer p {
  margin: 0px 16px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* background-color: yellow; */
}

.statDiv {
  margin-bottom: 20px;
}

.leftNumColStat {
  width: 30.7%;
}

.rightNumColStat {
  width: 30.7%;
  text-transform: capitalize;
}

.leftTextColStat {
  width: 12.7%;
  margin-right: 16px;
}

.rightTextColStat {
  width: 15%;
  margin-right: 16px;
}
.eggGroupDiv {
  display: flex;
  gap: 4px;
}

.normalBgColor {
  background-color: #a8a878;
}

.fireBgColor {
  background-color: #f08030;
}

.waterBgColor {
  background-color: #6890f0;
}

.grassBgColor {
  background-color: #78c850;
}

.electricBgColor {
  background-color: #f8d030;
}

.iceBgColor {
  background-color: #98d8d8;
}

.fightingBgColor {
  background-color: #c03028;
}

.poisonBgColor {
  background-color: #a040aa;
}

.groundBgColor {
  background-color: #e0c068;
}

.flyingBgColor {
  background-color: #a890f0;
}

.psychicBgColor {
  background-color: #f85888;
}

.bugBgColor {
  background-color: #a8b820;
}

.rockBgColor {
  background-color: #b8a038;
}

.ghostBgColor {
  background-color: #705898;
}

.darkBgColor {
  background-color: #705848;
}

.dragonBgColor {
  background-color: #7038f8;
}

.steelBgColor {
  background-color: #b8b8d0;
}

.fairyBgColor {
  background-color: #ee99ac;
}
