.pokemonListContainer {
  background: #fdf4ff;
  /* height: 100vh; */
  display: flex;
}
.pokemonData {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* padding: 40px 72px 148px; */
  padding-top: 20px;
  padding-bottom: 34px;
  gap: 16px;
  overflow-x: hidden;

  justify-content: center;
}
