.pokemonContainer {
  /* flex-wrap: wrap; */
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 8px;
  gap: 8px;

  width: 312px;
  height: 236px;

  background: #ffffff;
  border: 1px solid #d8cfe5;
  border-radius: 16px;

  /* Inside auto layout */

  /* flex: none;
  order: 0;
  flex-grow: 1; */
}

.pokeNameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 16px 8px;
  gap: 10px;

  width: 312px;
  height: 52px;

  flex: none;

  align-self: stretch;
  /* flex-grow: 0; */
}

.pokeName {
  width: 280px;
  height: 28px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;

  color: #181222;
}

.pokeImgContainer {
  position: relative;
}
.pokeImg {
  width: 100%;
  height: auto;
}
