.pokeHeader {
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 72px;
  gap: 32px;

  position: relative;
  height: auto;
  width: auto;
}

.navButtonLeft {
  width: 40px;
  height: 40px;
  flex: none;
  flex-grow: 0;
  border: none;
  border-radius: 100px;
  background-color: #574f62;
  mix-blend-mode: normal;
}
