.pokemonListContainer {
  background: var(--primary-color);
}
.pokemonData {
  background: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding-top: 20px;
  padding-bottom: 34px;
  gap: 16px;
  overflow-x: hidden;

  justify-content: center;
}
