.pokemon-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 72px;
  gap: 32px;

  position: relative;
  height: 9%;
  width: auto;

  background: rgba(245, 235, 255, 0.5);
  backdrop-filter: blur(4px);
}

.searchIcon {
  width: 20px;
  height: 20px;
  padding-left: 40%;
}

.pokedex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-family: "PokemonSolid";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  text-align: center;

  color: #181222;
  /* flex: none;
  order: 0;
  flex-grow: 0; */
}

.pokemon-searchBarContainer {
  width: 80%;
}

.pokemon-searchBar {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px;
  padding-left: 52px;
  gap: 16px;

  width: 100%;
  height: 48px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.5px;
}

.searchButton {
  position: absolute;
  top: 42%;
  background-color: transparent;
  border: none;
}

.navButtonFirst,
.navButtonLeft,
.navButtonRight,
.navButtonLast {
  width: 40px;
  height: 40px;
  flex: none;
  flex-grow: 0;
  border: none;
  border-radius: 100px;
  background-color: #574f62;
  mix-blend-mode: normal;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
