@font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"), url("../fonts/PokemonSolid.ttf");
}
@font-face {
  font-family: "slkscr";
  src: local("slkscr"), url("../fonts/slkscr.ttf");
}

.welcomePageContainer {
  height: 100vh;
  background-color: rgb(254, 235, 255);
}

.pokemonHeadAnimation {
  /* background-color: green; */
  margin: auto;
  width: 100%;
  height: 40%;
  position: relative;
  display: flex;
  justify-content: center;

  font-family: "PokemonSolid";
  font-style: normal;
  font-size: 200px;
}

.letter {
  color: rgb(251, 215, 90);
  position: relative;
  -webkit-text-stroke: 10px rgb(52, 118, 189);
}

.word {
  font-family: "slkscr";
  font-style: normal;
  font-size: 30px;
  position: relative;
  margin-top: 14%;
  margin-left: 2%;
}

.animate {
  animation: floating 2s linear infinite;
}

.letterP {
  margin-top: 30px;
}

@keyframes floating {
  0%,
  100% {
    top: 20px;
  }
  50% {
    top: 50px;
  }
}

/* Nice use of the animations and key frames here, this is 
a really nice addition and small details like this are really 
nice for the end users! */ 

.pokemonBody {
  position: relative;
  display: flex;
  height: 60%;
  width: 100%;
  font-family: "slkscr";
  font-style: normal;
  font-size: 30px;
  justify-content: center;
}

.ashImg {
  width: auto;
  height: 300px;
  position: absolute;
  bottom: 20%;
}

.pressKey {
  position: absolute;
  bottom: 8%;
  animation: blinking 0.5s linear infinite;
}

.bottomText {
  position: absolute;
  bottom: 0;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}

/*
I'm adding a comment here, even though this comment is applicable for the entire 
project. I don't see many (if any) uses of nesting and grouping in CSS selectors
I don't think we've brought this up in any of the Pokedexes yet, but its a core
idea of how CSS works and I would highly recommend reading about it and experimenting
with it in your projects

https://sabe.io/classes/css/grouping-nesting-selectors

It's extremely useful for structuring and CSS and reduces the likelihood of 
causing classes to conflict with one another
*/
