@font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"), url("../fonts/PokemonSolid.ttf");
}
@font-face {
  font-family: "slkscr";
  src: local("slkscr"), url("../fonts/slkscr.ttf");
}

.welcomePageContainer {
  height: 100vh;
  background-color: rgb(254, 235, 255);
}

.pokemonHeadAnimation {
  /* background-color: green; */
  margin: auto;
  width: 100%;
  height: 40%;
  position: relative;
  display: flex;
  justify-content: center;

  font-family: "PokemonSolid";
  font-style: normal;
  font-size: 200px;
}

.letterClass {
  color: rgb(251, 215, 90);
  position: relative;
  -webkit-text-stroke: 10px rgb(52, 118, 189);
}

.wordClass {
  font-family: "slkscr";
  font-style: normal;
  font-size: 30px;
  position: relative;
  margin-top: 14%;
  margin-left: 2%;
}

.animate {
  animation: floating 2s linear infinite;
}

.letterP {
  margin-top: 30px;
}

@keyframes floating {
  0%,
  100% {
    top: 20px;
  }
  50% {
    top: 50px;
  }
}

.pokemonBody {
  position: relative;
  display: flex;
  height: 60%;
  width: 100%;
  font-family: "slkscr";
  font-style: normal;
  font-size: 30px;
  justify-content: center;
}

.ashImg {
  width: auto;
  height: 300px;
  position: absolute;
  bottom: 20%;
}

.pressKey {
  position: absolute;
  bottom: 8%;
  animation: blinking 0.5s linear infinite;
}

.bottomText {
  position: absolute;
  bottom: 0;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}
